@model Machine
@{
    ViewData["Title"] = "Index";
}

@*<h1>Vending Machine @Model.Id</h1>*@
<h1>Vending Machine <select id="ddlMachine" asp-items="@ViewBag.MachineList"></select></h1>

@*<select id="ddlMachine" asp-items="@ViewBag.MachineList"></select>*@

@if (@TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<div class="card">
    <div class="card-body">
        <div class="custom-switch">
            <form id="frm1" asp-action="TogglePower" asp-controller="Machines" asp-route-id="@Model.Id" method="post">
                <input type="checkbox" checked="@(Model.IsOn)" class="custom-control-input" id="customSwitch1" onchange="frm1.submit()">
                <label class="custom-control-label" for="customSwitch1">Power On/Off</label>
            </form>
        </div>
        <div class="custom-switch">
            <form id="frm2" asp-action="ToggleLid" asp-controller="Machines" asp-route-id="@Model.Id" method="post">
                <input type="checkbox" checked="@(Model.IsLidOpen)" class="custom-control-input" id="customSwitch2" onchange="frm2.submit()">
                <label class="custom-control-label" for="customSwitch2">Lid On/Off</label>
            </form>
        </div>
    </div>
</div>

<div class="card border-dark shadow my-4">
    <div class="card-body">
        <div class="float-right text-center p-2 px-3 bg-dark text-light rounded">
            <div>Total amount</div>
            <h4 class="m-0">@Model.TotalAmount THB</h4>
        </div>

        Please add a coin
        <form asp-action="InsertCoin" asp-controller="Machines" asp-route-id="@Model.Id" asp-route-color="lavender" method="post">
            <button class="btn btn-outline-secondary" name="amount" value="1">1</button>
            <button class="btn btn-outline-secondary" name="amount" value="5">5</button>
            <button class="btn btn-outline-secondary" name="amount" value="10">10</button>
        </form>
    </div>
</div>

@if (Model.TotalAmount < 200)
{
    <div class="text-success">Please add more!!!</div>
}
else
{
    <div class="text-danger">Thanks !!</div>
}

@if (Model.TotalAmount > 0)
{
    <form asp-controller="Machines" method="post">
        <button class="btn btn-outline-warning mt-2" asp-action="CancelBuying" asp-route-id="@Model.Id">Cancel</button>
    </form>
}

@section Scripts{
    <script>
        // jQuery or $
        // $(css_selector).method().method2().method3()
        // $(css_selector).event(fn)
        $('select#ddlMachine').change(fn1);

        function fn1() {
            let machineId = $(this).val();
            let url = '/machines/index/' + machineId;
            window.location = url;
        }
    </script>
}